<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 定义别名 -->
    <typeAliases>
        <typeAlias type="schema.entity.VideoInfo" alias="VideoInfo"/>
    </typeAliases>

    <!-- 定义数据源信息 -->
    <environments default="development">
        <environment id="development">
            <!-- jdbc事物管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源配置 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/av?characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="itcast"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/VideoInfoMapper.xml"/>
    </mappers>
</configuration>